.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  td, th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td[contenteditable]:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  td[contenteditable]:focus {
    background-color: #fff;
    outline: none;
  }
  
  table td:first-child {
    font-weight: bold;
  }
  
  table td:not(:first-child):hover {
    background-color: #f5f5f5;
  }
  
  table td:not(:first-child):not([contenteditable="true"]) {
    background-color: #f7f7f7;
    color: #777;
  }
  
  table td[contenteditable="true"] {
    background-color: #fff;
  }
  
  table td[contenteditable="true"]:hover {
    background-color: #fafafa;
  }
  
  table td[contenteditable="true"]:focus {
    box-shadow: 0 0 0 1px #ddd;
  }
  